.is {
	border: 1px grey solid;
	border-radius: 4px;
	padding: 0.8rem;
  margin-top: 2rem;
}

.tox-tinymce{
	height: 300px;
	width: 80%;
}

.inner{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
}

.navbar-nav{
	display: flex;
  align-items: baseline;
}

.logout{
	color: white;
	text-decoration: none;
}

.logout:hover{
	color: #8CFFDA;
}

.comment {
	border: 1px grey beige;
	border-radius: 4px;
	padding: 1rem;
  margin-top: 1rem;
	background-color: #FFFFE8;
	width: fit-content;
}

.com{
	background-color: #8447FF;
	transition: transform .2s;
}

.com:hover{
	background-color: #8447FF;
	transform: scale(1.2);
}