body{
	background-color: white;
}

.navi{
	background-color: #8447FF;
}

.user-tag{
	color: white;
	padding: 0.5rem;
}

.issue {
	border: 1px grey solid;
	border-radius: 4px;
	padding: 0.8rem;
	margin : 1rem 0;
	background-color: #FFFFE8;
	display: flex;
	justify-content: space-between;
	width: 75%;
}

.issue-container {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
}

.bton {
	padding: 0.8rem;
	text-decoration: none;
	color: white;
	background-color: #8447FF;
	border: 1px white solid;
	border-radius: 4px;
	width : fit-content;
}

.bton:hover {
	background-color: white;
	color: #8447FF;
	border: 1px #8447FF solid;
}

.active-pane{
	border: 1px #8447FF solid;
	border-radius: 4px;
	padding: 1rem;
	background-color: #8CFFDA;
}

.inactive {
	border: 1px white solid;
	border-radius: 4px;
	padding: 1rem;
}

.edit-span{
	display: flex;
	flex-wrap: wrap;
	align-content:center;
}

.check-span{
	display: flex;
	flex-wrap: wrap;
	align-content:center;
	padding-right: 1rem;
}

.del-span{
	background-color: red;
  border-radius: 4px;
	margin-bottom: 1rem;
  margin-top: 1rem;
	margin-right: 1rem;
	transition: transform .2s;
}

.del-span:hover{
	transform: scale(1.2);
}

.icons{
	display: flex;
}

.issue-container > ul {
	list-style-type: none;
	display: flex;
	padding-left: 0;
	margin-top: 2rem;
}

.home{
	text-decoration: none;
	color: #FFFFE8;
}

.home:hover{
	color: #8CFFDA;
}

.link{
	text-decoration: none;
	color : #D972FF;
}

.navbar-nav{
	display: flex;
  align-items: baseline;
}

.logout{
	color: white;
	text-decoration: none;
	padding: 0.5rem;
}

.logout:hover{
	color : #FFB2E6;
}

.edit{
	width: 2rem;
}

.check{
	width: 3rem;
}

.del{
	background-color: red;
	width: 2.2rem;
	margin: 0.8rem;
}

.res-link > a{
	color: white;
  text-decoration: none;
}

.res-link > a:hover{
	color : #ffb2e6
}

@media  ( max-width : 440px ){
	.issue-container{
		justify-content: left;
	}
	.issue {
		width: 100%;
	}
}