.user-tag{
	color: white;
	padding: 0.5rem;
}

.issue {
	border: 1px grey solid;
	border-radius: 4px;
	padding: 0.8rem;
	margin : 1rem 0;
}

.issue-container {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
}

.bton {
	padding: 0.8rem;
	text-decoration: none;
	color: white;
	background-color: #0d6efd;
	border: 1px white solid;
	border-radius: 4px;
	width: 20%;
}

.bton:hover {
	background-color: white;
	color: hsl(216, 98%, 52%);
	border: 1px #0d6efd solid;
}

.all{
	text-align: left;
}

.active-pane{
	border: 1px grey solid;
	border-radius: 4px;
	padding: 1rem;
}

@media  ( max-width : 440px ){
	.issue-container{
		justify-content: left;
	}
}