.body {
	height: 100vh;
  background: linear-gradient(105deg, #FFB2E6 50%, #D972FF 25%);
	max-width : 100%;
}

.login > h1 {
	text-align: center;
	font-weight: bolder;
	margin-top: 2rem;
}

form {
	box-shadow: 1px 5px 5px 1px #8447FF
}

form > p > a{
text-decoration: none;
color: #FFFFE8;
}

form > p > a:hover{
	color: #8447ff;
}

.sign-in{
	background-color: #8447FF;
}